.tag {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    text-align: center;
}

.discount {
    width: 67px;
    height: 22px;
    background: var(--green);
}

.ghost {
    background: none;
    border: 1px solid var(--light-gray);
}

.info {
    background: var(--red);
}
