:root{
    --text-color: #3B434E;
    --page-color: white;
    --primary-color: #7653FC;
    --primary-hover: #5936db;
    --green: #1DC37E;
    --red: #FC836D;
    --light-green: #C8F8E4;
    --light-gray: #EBEBEB;
    --light-gray-text: #787D85;
    --light-gray-hover: #afaeae;
    --black: black;
    --font-family: 'Noto Sans', sans-serif;
}

body{
    color: var(--text-color);
    background: var(--page-color);
    margin: 0;
}

a {
    text-decoration: none;
}
